<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrmisApp.employmentCategory.home.title">Employment Categories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employment-category" [routerLink]="['/employment-category/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrmisApp.employmentCategory.home.createLabel">
            Create a new Employment Category
            </span>
        </button>
    </h2>

    <bmf-alert-error></bmf-alert-error>

    <bmf-alert></bmf-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="employmentCategories?.length === 0">
        <span jhiTranslate="hrmisApp.employmentCategory.home.notFound">No employmentCategories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="employmentCategories && employmentCategories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="hrmisApp.employmentCategory.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="hrmisApp.employmentCategory.name">Name</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employmentCategory of employmentCategories ;trackBy: trackId">
                    <td><a [routerLink]="['/employment-category', employmentCategory.id, 'view']">{{ employmentCategory.id }}</a></td>
                    <td>{{ employmentCategory.code }}</td>
                    <td>{{ employmentCategory.name }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/employment-category', employmentCategory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/employment-category', employmentCategory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(employmentCategory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
