<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span jhiTranslate="hrmisApp.employee.detail.title">Employee</span> {{ employee.id }}</h2>

            <hr>

            <bmf-alert-error></bmf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hrmisApp.employee.employeeNumber">Employee Number</span></dt>
                <dd>
                    <span>{{ employee.employeeNumber }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.contractStartDate">Contract Start Date</span></dt>
                <dd>
                    <span>{{ employee.contractStartDate }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.contractEndDate">Contract End Date</span></dt>
                <dd>
                    <span>{{ employee.contractEndDate }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.bankName">Bank Name</span></dt>
                <dd>
                    <span>{{ employee.bankName }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.branchName">Branch Name</span></dt>
                <dd>
                    <span>{{ employee.branchName }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.bankAccount">Bank Account</span></dt>
                <dd>
                    <span>{{ employee.bankAccount }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.insuranceRegistrationNumber">Insurance Registration Number</span></dt>
                <dd>
                    <span>{{ employee.insuranceRegistrationNumber }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.dateJoining">Date Joining</span></dt>
                <dd>
                    <span>{{ employee.dateJoining }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.designation">Designation</span></dt>
                <dd>
                    <span>{{ employee.designation }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.districtId">District Id</span></dt>
                <dd>
                    <span>{{ employee.districtId }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.facilityId">Facility Id</span></dt>
                <dd>
                    <span>{{ employee.facilityId }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.categoryId">Category Id</span></dt>
                <dd>
                    <span>{{ employee.categoryId }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.trainingId">Training Id</span></dt>
                <dd>
                    <span>{{ employee.trainingId }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.carderId">Carder Id</span></dt>
                <dd>
                    <span>{{ employee.carderId }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.departmentName">Department Name</span></dt>
                <dd>
                    <span>{{ employee.departmentName }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.confirmationId">Confirmation Id</span></dt>
                <dd>
                    <span>{{ employee.confirmationId }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.isConfirmed">Is Confirmed</span></dt>
                <dd>
                    <span>{{ employee.isConfirmed }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.confirmationLetterName">Confirmation Letter Name</span></dt>
                <dd>
                    <span>{{ employee.confirmationLetterName }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.projectName">Project Name</span></dt>
                <dd>
                    <span>{{ employee.projectName }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.active">Active</span></dt>
                <dd>
                    <span>{{ employee.active }}</span>
                </dd>
                <dt><span jhiTranslate="hrmisApp.employee.departmentId">Department Id</span></dt>
                <dd>
                    <div *ngIf="employee.departmentIdId">
                        <a [routerLink]="['/department', employee.departmentIdId, 'view']">{{ employee.departmentIdId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
