<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="bmf-employee-heading" jhiTranslate="hrmisApp.employee.home.createOrEditLabel">Create or edit a Employee</h2>

            <div>
                <bmf-alert-error></bmf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.employeeNumber" for="field_employeeNumber">Employee Number</label>
                    <input type="text" class="form-control" name="employeeNumber" id="field_employeeNumber"
                           formControlName="employeeNumber"/>
                    <div *ngIf="editForm.get('employeeNumber')!.invalid && (editForm.get('employeeNumber')!.dirty || editForm.get('employeeNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('employeeNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName"
                           formControlName="middleName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.gender" for="field_gender">Gender</label>
                    <input type="text" class="form-control" name="gender" id="field_gender"
                           formControlName="gender"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.birthDate" for="field_birthDate">Birth Date</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker #birthDateDp="ngbDatepicker" formControlName="birthDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.cellPhone" for="field_cellPhone">Cell Phone</label>
                    <input type="text" class="form-control" name="cellPhone" id="field_cellPhone"
                           formControlName="cellPhone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.maritalStatus" for="field_maritalStatus">Marital Status</label>
                    <input type="text" class="form-control" name="maritalStatus" id="field_maritalStatus"
                           formControlName="maritalStatus"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.contractStartDate" for="field_contractStartDate">Contract Start Date</label>
                    <div class="input-group">
                        <input id="field_contractStartDate" type="text" class="form-control" name="contractStartDate" ngbDatepicker #contractStartDateDp="ngbDatepicker" formControlName="contractStartDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="contractStartDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.contractEndDate" for="field_contractEndDate">Contract End Date</label>
                    <div class="input-group">
                        <input id="field_contractEndDate" type="text" class="form-control" name="contractEndDate" ngbDatepicker #contractEndDateDp="ngbDatepicker" formControlName="contractEndDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="contractEndDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.bankName" for="field_bankName">Bank Name</label>
                    <input type="text" class="form-control" name="bankName" id="field_bankName"
                           formControlName="bankName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.branchName" for="field_branchName">Branch Name</label>
                    <input type="text" class="form-control" name="branchName" id="field_branchName"
                           formControlName="branchName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.bankAccount" for="field_bankAccount">Bank Account</label>
                    <input type="text" class="form-control" name="bankAccount" id="field_bankAccount"
                           formControlName="bankAccount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.insuranceRegistrationNumber" for="field_insuranceRegistrationNumber">Insurance Registration Number</label>
                    <input type="text" class="form-control" name="insuranceRegistrationNumber" id="field_insuranceRegistrationNumber"
                           formControlName="insuranceRegistrationNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.districtId" for="field_districtId">District Id</label>
                    <input type="number" class="form-control" name="districtId" id="field_districtId"
                           formControlName="districtId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.facilityId" for="field_facilityId">Facility Id</label>
                    <input type="number" class="form-control" name="facilityId" id="field_facilityId"
                           formControlName="facilityId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.categoryId" for="field_categoryId">Category Id</label>
                    <input type="number" class="form-control" name="categoryId" id="field_categoryId"
                           formControlName="categoryId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.trainingId" for="field_trainingId">Training Id</label>
                    <input type="number" class="form-control" name="trainingId" id="field_trainingId"
                           formControlName="trainingId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.carderId" for="field_carderId">Carder Id</label>
                    <input type="number" class="form-control" name="carderId" id="field_carderId"
                           formControlName="carderId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.picture" for="field_picture">Picture</label>
                    <div>
                        <img [src]="'data:' + editForm.get('pictureContentType')!.value + ';base64,' + editForm.get('picture')!.value" style="max-height: 100px;" *ngIf="editForm.get('picture')!.value" alt="employee image"/>
                        <div *ngIf="editForm.get('picture')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('pictureContentType')!.value }}, {{ byteSize(editForm.get('picture')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('picture', 'pictureContentType', 'file_picture')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_picture" (change)="setFileData($event, 'picture', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="picture" id="field_picture"
                           formControlName="picture"/>
                    <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                           formControlName="pictureContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.departMentCode" for="field_departMentCode">Depart Ment Code</label>
                    <input type="number" class="form-control" name="departMentCode" id="field_departMentCode"
                           formControlName="departMentCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.attachmentId" for="field_attachmentId">Attachment Id</label>
                    <input type="number" class="form-control" name="attachmentId" id="field_attachmentId"
                           formControlName="attachmentId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.confirmationId" for="field_confirmationId">Confirmation Id</label>
                    <input type="number" class="form-control" name="confirmationId" id="field_confirmationId"
                           formControlName="confirmationId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.projectId" for="field_projectId">Project Id</label>
                    <input type="number" class="form-control" name="projectId" id="field_projectId"
                           formControlName="projectId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.employee.departmentId" for="field_departmentId">Department Id</label>
                    <select class="form-control" id="field_departmentId" name="departmentId" formControlName="departmentIdId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentOption.id" *ngFor="let departmentOption of departments; trackBy: trackById">{{ departmentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
