<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrmisApp.facility.home.title">Facilities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-facility" [routerLink]="['/facility/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrmisApp.facility.home.createLabel">
            Create a new Facility
            </span>
        </button>
    </h2>

    <bmf-alert-error></bmf-alert-error>

    <bmf-alert></bmf-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="facilities?.length === 0">
        <span jhiTranslate="hrmisApp.facility.home.notFound">No facilities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="facilities && facilities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="active"><span jhiTranslate="hrmisApp.facility.active">Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="hrmisApp.facility.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="hrmisApp.facility.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postalAddress"><span jhiTranslate="hrmisApp.facility.postalAddress">Postal Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ward"><span jhiTranslate="hrmisApp.facility.ward">Ward</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="village"><span jhiTranslate="hrmisApp.facility.village">Village</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comment"><span jhiTranslate="hrmisApp.facility.comment">Comment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="hrmisApp.facility.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="hrmisApp.facility.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="operatedby"><span jhiTranslate="hrmisApp.facility.operatedby">Operatedby</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="districtName"><span jhiTranslate="hrmisApp.facility.district">District</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeName"><span jhiTranslate="hrmisApp.facility.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let facility of facilities ;trackBy: trackId">
                    <td><a [routerLink]="['/facility', facility.id, 'view']">{{ facility.id }}</a></td>
                    <td>{{ facility.active }}</td>
                    <td>{{ facility.code }}</td>
                    <td>{{ facility.name }}</td>
                    <td>{{ facility.postalAddress }}</td>
                    <td>{{ facility.ward }}</td>
                    <td>{{ facility.village }}</td>
                    <td>{{ facility.comment }}</td>
                    <td>{{ facility.description }}</td>
                    <td>{{ facility.startDate | date:'mediumDate' }}</td>
                    <td>{{ facility.operatedby }}</td>
                    <td>
                        <div *ngIf="facility.districtId">
                            <a [routerLink]="['/geographic-zone', facility.districtId , 'view']" >{{ facility.districtName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="facility.typeId">
                            <a [routerLink]="['/facility-type', facility.typeId , 'view']" >{{ facility.typeName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/facility', facility.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/facility', facility.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(facility)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="facilities && facilities.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
