<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="bmf-facility-heading" jhiTranslate="hrmisApp.facility.home.createOrEditLabel">Create or edit a Facility</h2>

            <div>
                <bmf-alert-error></bmf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                    <div *ngIf="editForm.get('active')!.invalid && (editForm.get('active')!.dirty || editForm.get('active')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('active')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.postalAddress" for="field_postalAddress">Postal Address</label>
                    <input type="text" class="form-control" name="postalAddress" id="field_postalAddress"
                           formControlName="postalAddress"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.ward" for="field_ward">Ward</label>
                    <input type="text" class="form-control" name="ward" id="field_ward"
                           formControlName="ward"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.village" for="field_village">Village</label>
                    <input type="text" class="form-control" name="village" id="field_village"
                           formControlName="village"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.comment" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker #startDateDp="ngbDatepicker" formControlName="startDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.operatedby" for="field_operatedby">Operatedby</label>
                    <input type="text" class="form-control" name="operatedby" id="field_operatedby"
                           formControlName="operatedby"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.district" for="field_district">District</label>
                    <select class="form-control" id="field_district" name="district" formControlName="districtId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="geographicZoneOption.id" *ngFor="let geographicZoneOption of geographiczones; trackBy: trackById">{{ geographicZoneOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmisApp.facility.type" for="field_type">Type</label>
                    <select class="form-control" id="field_type" name="type" formControlName="typeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="facilityTypeOption.id" *ngFor="let facilityTypeOption of facilitytypes; trackBy: trackById">{{ facilityTypeOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
